*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    color: bisque;
    font-weight: 400;
    padding: .4rem;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    color: bisque;
    font-weight: 400;
    padding: .4rem;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
}